/**
 * Grid system helpers
 */
:root {
  /**
   * Page Grid
   * Applied to grid-template-columns
   */
  --grid-page-width: var(--width-11);
  --grid-page-gutter: 5vw;
  --grid-page-main: 2 / 3;
  --grid-page: minmax(var(--page-gutter), 1fr)
    minmax(0, var(--content-max-width)) minmax(var(--page-gutter), 1fr);

  /**
   * Template Shorthands
   * Applied to grid-template-[columns/rows]
   */
  --grid-fr: minmax(0, 1fr);
  --grid-2: repeat(2, var(--grid-fr));
  --grid-3: repeat(3, var(--grid-fr));
  --grid-4: repeat(4, var(--grid-fr));
  --grid-5: repeat(5, var(--grid-fr));
  --grid-6: repeat(6, var(--grid-fr));
  --grid-7: repeat(7, var(--grid-fr));
  --grid-8: repeat(8, var(--grid-fr));
  --grid-9: repeat(9, var(--grid-fr));
  --grid-10: repeat(10, var(--grid-fr));
  --grid-11: repeat(11, var(--grid-fr));
  --grid-12: repeat(12, var(--grid-fr));
}
