/**
 * Typesets
 * Extends modular scale with opinionated line-height pairings
 * Applied to font
 */
:root {
  /* Sans */
  --sans-000: var(--scale-000)/1.3 var(--font-sans); 
  --sans-00: var(--scale-00)/1.4 var(--font-sans);
  --sans-0: var(--scale-0)/1.5 var(--font-sans);
  --sans-1: var(--scale-1)/1.5 var(--font-sans);
  --sans-2: var(--scale-2)/1.4 var(--font-sans);
  --sans-3: var(--scale-3)/1.3 var(--font-sans);
  --sans-4: var(--scale-4)/1.275 var(--font-sans);
  --sans-5: var(--scale-5)/1.275 var(--font-sans);
  --sans-6: var(--scale-6)/1.125 var(--font-sans);
  --sans-7: var(--scale-7)/1.125 var(--font-sans);
  --sans-8: var(--scale-8)/1 var(--font-sans);
  --sans-9: var(--scale-9)/1 var(--font-sans);
  --sans-10: var(--scale-10)/1 var(--font-sans);

  /* Serif */
  --serif-000: var(--scale-000)/1.275 var(--font-serif); 
  --serif-00: var(--scale-00)/1.35 var(--font-serif);
  --serif-0: var(--scale-0)/1.45 var(--font-serif);
  --serif-1: var(--scale-1)/1.4 var(--font-serif);
  --serif-2: var(--scale-2)/1.3 var(--font-serif);
  --serif-3: var(--scale-3)/1.275 var(--font-serif);
  --serif-4: var(--scale-4)/1.2 var(--font-serif);
  --serif-5: var(--scale-5)/1.2 var(--font-serif);
  --serif-6: var(--scale-6)/1.125 var(--font-serif);
  --serif-7: var(--scale-7)/1.125 var(--font-serif);
  --serif-8: var(--scale-8)/1 var(--font-serif);
  --serif-9: var(--scale-9)/1 var(--font-serif);
  --serif-10: var(--scale-10)/1 var(--font-serif);
}
